<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="estilo.css">
</head>

<!--Agregando comentario a Branch Felipe-->

<body>
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">Beef</a>
            <input type="checkbox" id="menu">
            <label for="menu"><img src="images\menu.png" class="menu-icono" alt=""></label>
            <nav class="navbar">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="categorias.html">Categorias</a></li>
                    <li><a href="contactanos.html">Contactanos</a></li>
                </ul>
            </nav>
            <div>
                <ul>
                    <li class="submenu">
                        <img src="images\car.svg" id="img-carrito" alt="">
                        <div id="carrito">
                            <table id="lista-carrito">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-2">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-content container">
            <h1>Categorias</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsum aspernatur sunt suscipit
                beatae officiis impedit consectetur, quis, vel, et sapiente! Blanditiis, ipsam debitis dolores nulla
                excepturi nobis autem! Minima!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem cum rerum illum ex hic! 
                Ducimus perferendis suscipit, tempora ea maiores cumque fugiat. Sint obcaecati voluptatem debitis
                s impedit voluptates earum.
            </p>
        </div>
    </header>


    <section class="platillos container" id="lista">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="platillo">
                        <h3> Pollo</h3>
                        <img src="images/pollo.png" alt=""></a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, deserunt. Enim nam, quae
                            magni libero, dolorum molestiae aliquid placeat aperiam nesciunt, laudantium consequatur
                            aut. Ratione provident delectus porro sequi animi.
                        </p>
                        <a href="pollo.html" class="btn-2">Ir a Pollo</a>
                        <a href="pollo.html" >Ir a Pollo</a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="platillo">
                        <h3> Vacuno</h3>
                        <img src="images/vaca.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, deserunt. Enim nam, quae
                            magni libero, dolorum molestiae aliquid placeat aperiam nesciunt, laudantium consequatur
                            aut. Ratione provident delectus porro sequi animi.
                        </p>
                        <a href="vacuno.html" class="agregar-carrito btn-2" data-id="2">Ir a Vacuno</a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="platillo">
                        <h3>Pavo</h3>
                        <img src="images/pavo.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, deserunt. Enim nam, quae
                            magni libero, dolorum molestiae aliquid placeat aperiam nesciunt, laudantium consequatur
                            aut. Ratione provident delectus porro sequi animi.
                        </p>
                        <a href="#" class="agregar-carrito btn-2" data-id="3">Ir a Pavo</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="platillo">
                        <h3>Cerdo</h3>
                        <img src="images/cerdo.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, deserunt. Enim nam, quae
                            magni libero, dolorum molestiae aliquid placeat aperiam nesciunt, laudantium consequatur
                            aut. Ratione provident delectus porro sequi animi.
                        </p>
                        <a href="cerdo.html" class="agregar-carrito btn-2" data-id="4">Ir a Cerdo</a>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <footer class="footer container">
        <div>
            <hr>
            <p> </p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="javascript.js"></script>
</body>

</html>