<!DOCTYPE html>
<html lang="en">

<!-- isfblksmflkmdkfblmdbdf-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contactanos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="estilo.css">
</head>

<body>
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">Beef</a>
            <input type="checkbox" id="menu">
            <label for="menu"><img src="images\menu.png" class="menu-icono" alt=""></label>
            <nav class="navbar">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="categorias.html">Categorias</a></li>
                    <li><a href="contactanos.html">Contactanos</a></li>
                </ul>
            </nav>
            
        </div>
    </header>

    <section class="recetas container">
        <div class="recetas-1">
            <hr>
        </div>
    </section>

    <footer class="footer container">
        <div class="links">
            <div class="link">
                <h3>Nos interesa conocer tu opinion </h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi voluptatibus reprehenderit esse fuga
                    est doloremque odio pariatur, adipisci officia ducimus molestias consectetur illum iste officiis
                    perspiciatis dolorem, cupiditate, obcaecati ex.
                </p>
                <div class="socials-2">
                    <img src="images\s1.svg" alt="">
                    <img src="images\s2.svg" alt="">
                    <img src="images\s3.svg" alt="">
                </div>
            </div>  

            <div class="link">
                <h3>Ingresa tus datos</h3>
                <form>
                    <!-- validando que el formulario sean textos, numeros y un correo -->
                    <input type="text" placeholder="Nombre" class="inp">
                    <input type="number" placeholder="Ingrese su rut sin dv" class="inp">
                    <input type="email" placeholder="Email" class="inp">
                    <input type="text" placeholder="Ingrese el motivo de contacto" class="inp" textarea class="inp"></input>
                    <input class="btn-4" type="submit" value="Enviar">
                </form>
            </div>       

        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="script.js"></script>
</body>

</html>